In [1]:
import pandas as pd
import re

In [2]:
tourism = pd.read_csv('../data/IBESTAT_Turistas con destino principal las Illes Balears por periodo y país de residencia (1).csv', sep=";")
tourism

,CountryTag,Dato mensual,Tasa de variación anual,Acumulado del año,Tasa de variación del acumulado
0,TOTAL (1+2),0,-100,729.443,-83
1,1. ESPAÑA (otras ccaa),0,-100,323.973,"-60,33"
2,2. EXTRANJERO,0,-100,405.470,"-88,33"
3,(103) Bélgica,0,-100,5.144,"-92,5"
4,(110) Francia,0,-100,15.823,"-91,21"
...,...,...,...,...,...
834,(132) Suiza,50.357,"23,99",..,..
835,(154) Rusia,1.166,"-16,55",..,..
836,Países nórdicos,53.907,"5,48",..,..
837,Resto de Europa,28.456,"-35,93",..,..
838,Resto del mundo,10.467,"-2,12",..,..

In [3]:
tourism.iloc[11, 0]

'   Países nórdicos'

In [4]:
spain_df = tourism.loc[tourism["CountryTag"]=="   1. ESPAÑA (otras ccaa)"].reset_index()
tourists_spain = []
for i in range(len(spain_df)):
    tourists_spain.append(spain_df["Dato mensual"][i])

In [5]:
belgium_df = tourism.loc[tourism["CountryTag"]=="   (103) Bélgica"].reset_index()
tourists_belgium = []
for i in range(len(belgium_df)):
    tourists_belgium.append(belgium_df["Dato mensual"][i])

In [6]:
france_df = tourism.loc[tourism["CountryTag"]=="   (110) Francia"].reset_index()
tourists_france = []
for i in range(len(france_df)):
    tourists_france.append(france_df["Dato mensual"][i])

In [7]:
italy_df = tourism.loc[tourism["CountryTag"]=="   (115) Italia"].reset_index()
tourists_italy = []
for i in range(len(italy_df)):
    tourists_italy.append(italy_df["Dato mensual"][i])

In [8]:
netherlands_df = tourism.loc[tourism["CountryTag"]=="   (121) Países Bajos"].reset_index()
tourists_netherlands = []
for i in range(len(netherlands_df)):
    tourists_netherlands.append(netherlands_df["Dato mensual"][i])

In [9]:
uk_df = tourism.loc[tourism["CountryTag"]=="   (125) Reino Unido"].reset_index()
tourists_uk = []
for i in range(len(uk_df)):
    tourists_uk.append(uk_df["Dato mensual"][i])

In [10]:
germany_df = tourism.loc[tourism["CountryTag"]=="   (126) Alemania"].reset_index()
tourists_germany = []
for i in range(len(germany_df)):
    tourists_germany.append(germany_df["Dato mensual"][i])

In [11]:
switzerland_df = tourism.loc[tourism["CountryTag"]=="   (132) Suiza"].reset_index()
tourists_switzerland = []
for i in range(len(switzerland_df)):
    tourists_switzerland.append(switzerland_df["Dato mensual"][i])

In [12]:
dates = ["05-2020", "04-2020", "03-2020", "02-2020", "01-2020"]
month = ["12","11","10","09","08","07","06","05","04","03","02","01"]
for i in range(12):
    dates.append(month[i]+"-2019")
for i in range(12):
    dates.append(month[i]+"-2018")
for i in range(12):
    dates.append(month[i]+"-2017")
for i in range(12):
    dates.append(month[i]+"-2016")
for i in range(3):
    dates.append(month[i]+"-2015")

In [13]:
tourism_influx = pd.DataFrame({"date":dates, "spanish":tourists_spain,
                               "belge":tourists_belgium, "french":tourists_france,
                              "german":tourists_germany, "italian":tourists_italy,
                              "dutch":tourists_netherlands,
                              "swiss": tourists_switzerland,
                              "british":tourists_uk})

In [16]:
tourism_influx["date"] = pd.to_datetime(tourism_influx["date"], format='%m-%Y')
tourism_influx.head()

        date  spanish  belge french   german italian  dutch  swiss british
0 2020-05-01        0      0      0        0       0      0      0       0
1 2020-04-01        0      0      0        0       0      0      0       0
2 2020-03-01   66.484  1.789  5.836   68.438     884  3.060  2.836  13.357
3 2020-02-01  120.172  1.908  6.723  112.582   5.089  4.946  6.343  19.231
4 2020-01-01  137.317  1.447  3.264   54.431   3.224  3.608  1.715   8.041

In [18]:
tourism_influx.to_csv('../data/BalearicIslandsTourismClean.csv', index=False)