In [82]:
import pandas as pd
import re

In [83]:
aggregated_trends_tourism = pd.read_csv('keywords/Madrid/international.csv')
aggregated_trends_tourism["country"] = 'international'
aggregated_trends_tourism.columns = ["Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca','san gines',
                                    'callao','calle serrano','date','country']

In [84]:
portugal = pd.read_csv('keywords/Madrid/portugal.csv')
portugal["country"] = 'portugal'
portugal.columns = ["index","Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca',
                                    'callao','date','country']

In [85]:
ireland = pd.read_csv('keywords/Madrid/ireland.csv')
ireland["country"] = 'ireland'
ireland.columns = ["index","Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','el rastro','las ventas','chueca',
                                    'callao','date','country']

In [86]:
greece = pd.read_csv('keywords/Madrid/greece.csv')
greece["country"] = 'greece'
greece.columns = ["index", "Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','cibeles','Palacio de Cristal','chueca',
                                    'callao','date','country']

In [87]:
austria = pd.read_csv('keywords/Madrid/austria.csv')
austria["country"] = "austria"
austria.columns=["index", "Museo Nacional del Prado","plaza mayor",'puerta del sol','gran via',
                                    'Thyssen','la Almudena','cibeles',
                                    'puerta de alcala','chueca',
                                    'callao','date','country']

In [88]:
belgium = pd.read_csv('keywords/Madrid/belgium.csv')
belgium["country"] = "belgium"
belgium.columns
belgium.columns = ["Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'el rastro','las ventas','chueca',
                                    'callao','calle serrano','date','country']

In [89]:
denmark = pd.read_csv('keywords/Madrid/denmark.csv')
denmark["country"] = "denmark"
denmark.columns = ["index", "Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                   'Thyssen','cibeles','el rastro','las ventas','chueca','callao','date','country']

In [90]:
finland = pd.read_csv('keywords/Madrid/finland.csv')
finland["country"] = 'finland'
finland.columns = ["index", "Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','cibeles',
                                    'puerta de alcala','callao','date','country']

In [91]:
france = pd.read_csv('keywords/Madrid/france.csv')
france["country"] = "France"
france.columns = ["Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca','san gines',
                                    'callao','calle serrano','date','country']

In [92]:
spain = pd.read_csv('keywords/Madrid/spain.csv')
spain["country"] = 'spain'
spain.columns = ["Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca','san gines',
                                    'callao','calle serrano','date','country']

In [93]:
italy = pd.read_csv('keywords/Madrid/italy.csv')
italy["country"] = 'italy'
italy.columns = ["Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca','san gines',
                                    'callao','date','country']

In [94]:
netherlands = pd.read_csv('keywords/Madrid/netherlands.csv')
netherlands["country"] = 'netherlands'
netherlands.columns = ["Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca',
                                    'callao','date','country']

In [95]:
unitedkingdom = pd.read_csv('keywords/Madrid/unitedkingdom.csv')
unitedkingdom["country"] = 'unitedkingdom'
unitedkingdom.columns = ["index","Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca','san gines',
                                    'callao','date','country']

In [96]:
germany = pd.read_csv('keywords/Madrid/germany.csv')
germany["country"] = 'germany'
germany.columns = ["Museo Nacional del Prado","plaza mayor","el retiro",'puerta del sol','gran via',
                                    'Thyssen','templo de debod','la Almudena','cibeles','Palacio de Cristal',
                                    'puerta de alcala','el rastro','las ventas','chueca','san gines',
                                    'callao','date','country']

In [97]:
aggregated_trends_tourism = pd.concat([aggregated_trends_tourism, spain, germany, austria, belgium, denmark, finland, france, greece, ireland, italy, netherlands, portugal, unitedkingdom], sort= False)

In [98]:
aggregated_trends_tourism.reset_index(inplace=True)

In [99]:
tourism_stats = pd.read_excel('TourismArrivals/Madrid/MadridTouristStats.xlsx', sep=";")

In [100]:
tourism_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           64 non-null     datetime64[ns]
 1   international  64 non-null     float64
 2   spain          64 non-null     float64
 3   germany        64 non-null     float64
 4   austria        64 non-null     float64
 5   belgium        64 non-null     float64
 6   denmark        64 non-null     float64
 7   finland        64 non-null     float64
 8   france         64 non-null     float64
 9   grece          64 non-null     float64
 10  ireland        64 non-null     float64
 11  italy          64 non-null     float64
 12  netherlands    64 non-null     float64
 13  portugal       64 non-null     float64
 14  unitedkingdom  64 non-null     float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 7.6 KB

In [101]:
aggregated_trends_tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   level_0                   840 non-null    int64
 1   Museo Nacional del Prado  840 non-null    object
 2   plaza mayor               840 non-null    int64
 3   el retiro                 780 non-null    float64
 4   puerta del sol            840 non-null    int64
 5   gran via                  840 non-null    int64
 6   Thyssen                   840 non-null    int64
 7   templo de debod           660 non-null    float64
 8   la Almudena               660 non-null    float64
 9   cibeles                   840 non-null    int64
 10  Palacio de Cristal        600 non-null    float64
 11  puerta de alcala          600 non-null    float64
 12  el rastro                 660 non-null    float64
 13  las ventas                660 non-null    float64
 14  chueca                    780 non-null    float64
 15  san gines                 360 non-null    float64
 16  callao                    840 non-null    int64
 17  calle serrano             240 non-null    float64
 18  date                      840 non-null    object
 19  country                   840 non-null    object
 20  index                     420 non-null    float64
dtypes: float64(11), int64(7), object(3)
memory usage: 128.0+ KB

In [102]:
aggregated_trends_tourism.drop(["level_0", "index"], axis=1, inplace=True)

In [103]:
aggregated_trends_tourism["date"] = pd.to_datetime(aggregated_trends_tourism["date"], format='%Y-%m-%d')

In [104]:
# check the timeframe of the tourism_stats dataframe
print(tourism_stats.date.min())
print(tourism_stats.date.max())
# check the timeframe of the trends database
print(aggregated_trends_tourism.date.min())
print(aggregated_trends_tourism.date.max())

2015-01-01 00:00:00
2020-04-01 00:00:00
2015-08-01 00:00:00
2020-07-01 00:00:00

In [105]:
start_date = tourism_stats.date.min()
finish_date = tourism_stats.date.max()

tourism_trends = aggregated_trends_tourism.loc[(aggregated_trends_tourism.date>=start_date) & (aggregated_trends_tourism.date<=finish_date)]
tourism_trends.reset_index(inplace=True)

In [106]:
tourism_stats['date'] = pd.to_datetime(tourism_stats['date'], format='%d/%m/%Y')

In [107]:
melted_tourism_stats = tourism_stats.melt(id_vars=["date"])
melted_tourism_stats.columns = ["date", "country", "tourists"]
melted_tourism_stats

          date        country  tourists
0   2015-01-01  international   610.243
1   2015-02-01  international   622.160
2   2015-03-01  international   718.001
3   2015-04-01  international   777.728
4   2015-05-01  international   842.780
..         ...            ...       ...
891 2019-12-01  unitedkingdom    17.649
892 2020-01-01  unitedkingdom    19.349
893 2020-02-01  unitedkingdom    26.435
894 2020-03-01  unitedkingdom     0.000
895 2020-04-01  unitedkingdom     0.000

[896 rows x 3 columns]

In [108]:
aggregated_trends_tourism.date = pd.to_datetime(aggregated_trends_tourism['date'], format='%Y-%m-%d')

In [109]:
final_df = aggregated_trends_tourism.merge(melted_tourism_stats, on=["date", "country"])

In [112]:
final_df.to_csv('MadridDatamart.csv', index=False)